.page-header, .page-header-space {
    height: 50px;
    font-family: "Times New Roman";
    font-size: 9pt;
    margin-bottom: 20px;
}

.page-footer, .page-footer-space {
    height: 50px;
    font-family: "Times New Roman";
    font-size: 9pt;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #b5bbc0;
    text-align: center;
}

.page-footer p {
    margin-top: 20px;
}

.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #b5bbc0;
    text-align: center;
    padding-bottom: 15px;
}

thead {display: table-header-group;}
tfoot {display: table-footer-group;}

.page {
    margin-left: 40px;
}

body {
    font-family:"CustomArial";
    font-size: 10pt;
    margin: 0;
    padding-right: 40px;
}

.print_side
{
    display: block;
}

.paragraph:before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0"; }

table tr td
{
    vertical-align: top;
    padding: 4px;
    margin: 0;
}

table {
    border: none;
    width: 100%;
}

.template table tr td:first-child
{
    font-weight: bold;
    width: 30%;
}

.text-left {
    text-align: left;
    float: none;
}

.text-right {
    text-align: right;
    float: none;
}

.text-center {
    text-align: center;
    float: none;
}

.text-justify {
    text-align: justify;
    justify-content: space-between;
}

.item {
    float: left!important;
    margin-left:2px;
}

.sides {
    width: 100%;
}
.side {
    margin-bottom: 50px;
}
.left {
    width: 50%;
    text-align: center;
}
.right {
    width: 50%;
    text-align: center;
}

.title {
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 10pt;
}

.page-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

.font-bold {
    font-weight: bold;
}

.vertical-top {
    vertical-align: top;
}

.line {
    display: block;
}

.logo {
    margin: 0 auto;
    text-align: center;
}

#sub-bottom, .sides { page-break-inside: avoid; }

@media print {
    @page {
      margin: 0; 
    } 
}